body{
    font-family: Georgia, serif;
}
.swal2-popup {
    color: black !important;
    font-family: Georgia, serif;
    }
.swal2-title {
font-size: 35px !important;
color: rgb(27, 27, 27) !important;
}
.swal2-textarea{
    height:10em !important;
}
#titulo {
    position: relative;
    margin-top: 3%;
    font-size: 100px;
}   
nav a{
    color: hwb(0 98% 2%) !important;
}
#btn-nav {
    cursor: pointer;
}
#btn-nav:hover {
    background:  hwb(180 47% 49%) !important;
}
.nav-item{
    padding: 0 1.5px !important;
}
body,html{
    height: 100%; 
    overflow: hidden;
    background: radial-gradient(#ffffff, #a8a8a8) !important;
    /* background-image: url('../static/img/2.png'); */
    background-size: cover;
}
#input_field {
    position: absolute;
    margin-top: 20px;
}

#right {
    background: #ffffff;
    float:left;
    width:195px;
    margin-bottom: -2000px;
    padding-bottom: 2000px;
    position:relative;/*set containing block for AP children*/
}
#img_tec {
    position: relative;
    width:160;/*image width*/
    height:28px;/*image height*/
    top: 50pxpro;
    margin-left: auto;
    margin-right: auto;     
}
.container{
    margin-top: 7%;
    margin-left: auto;
    margin-right: auto; 
}