

*{
    font-family: "Roboto", sans-serif;
    user-select: none;
}
    
.titulo {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}
.titulo h1{
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}    
.titulo h3{
    margin-top: 1em;
    text-align: center;
    font-size: 16px;
    color: rgb(95, 34, 34);
}
body.swal2-height-auto {
    height: 100% !important;
}
.botaoInfo{
    position: relative;
    left: 5em;
    bottom: 0;
}
    
#botaoInfo{
    cursor: pointer;
    color: rgba(11, 23, 249, 0.481) !important;
    font-size: 20px !important;
}
    
#botaoInfo:hover{
    color: rgb(3, 3, 111) !important;
}
body,html{
    height: 100%;
    overflow-x: hidden;
    background: radial-gradient(#ffffff, #a8a8a8) !important;
    background-size: cover !important;
}
    
#input_field {
    display: flex;
    margin-top:6em
}
.logo{
    /* position: absolute;
    top: 0; */
    display: flex;
    justify-content: center;
    align-items: center;
}
    
#img_tec {
    /* position: fixed; */
    /* bottom: 10em; */
    width: 160px;
}
    
.container{
    margin-top: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 1em;
    position: relative;
}
.cabecalho{
    width: 100vw;
    display: flex;
    justify-content: space-between;
}
html.swal2-height-auto {
    height: 100vh !important
  }
.conteudo{
    width: 100vw;
    display: flex;
    justify-content: space-between;
}
.containerBtn{
    position: fixed;
    padding: 0;
    bottom: 10vh;
    right: 5vw;
    width: auto;
    height: auto;
}
.containerBtn button{
    display: flex;
    justify-content: center; align-items: center;
    /* background-color: rgb(255, 56, 56); */
    color: #ffffff;
    border-radius: 50%;
    font-size: 25px;
    /* padding: 0.25rem 0.5rem 0.25rem 0.5rem; */
    border: 0;
    box-shadow: #000000;
}
