<!doctype html>
<html lang="en">
  <head>
    <script type="text/javascript" src="../static/js_imports/sweetalert2.all.js"></script>
  <!--<link rel="stylesheet" href="https://kit.fontawesome.com/636b4fbf6a.css" crossorigin="anonymous">-->
    {% include "sweetalerts.html" %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Consulta FPQ</title>
    <link href="../static/css_imports/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
  </head>

  <body>
    
    <!-- Criando o Título da Página -->
    <div class="row"  id="titulo">
      <div class="row-sm text-sm-center"><h1>Consulta Status FPQ:   </h1></div>
      <!--{% if posts is defined and posts|length > 0 %}
        <div class="row-sm text-sm-center"><h1 style="color:darkblue">{{ msg_ }}</h1></div>
      {% endif %}-->
      </div>
    </div>

    <!-- Criando o campo de input e o botão ao lado -->
    <div class="row d-flex justify-content-center">
        <div class="input-group mb-2 w-50" id="input_field" name="input_field">
            <input type="text" class="form-control input-sm" id="input_2" name="input_2" placeholder="Insira o radical do PN ou o CEMB" aria-label="Insira o radical do PN ou o CEMB" aria-describedby="button-addon2"/>
            <button class="btn btn-outline-secondary" onClick="confereCodigo()" type="submit" id="button-addon2">Procurar</button>
        </div>
    </div>

    <!-- Tabela com informações das peças, aparece após procurar um PN ou CEMB -->
    <!--<div class="container text-center" style="color:#000000" id="tabela">
      {% block content %}
      {% if posts is defined and posts|length > 0 %}
      <div class="row ">
        <div class="col-sm"><h2>PN Topo</h2></div>
        <div class="col-sm"><h2>Código Embraer</h2></div>
        <div class="col-sm"><h2>STATUS</h2></div>
      </div>
          <div class="row align-middle">
            <div class="col-sm"><p style="font-size:18px">{{ posts[0][1] }}</p></div>
            <div class="col-sm"><p style="font-size:18px">{{ posts[0][2] }}</p></div>
            {% if posts[0][5]=="Aprovado" %}
              <div class="col-sm" style="color:rgb(23, 184, 8)">
                <div class="row"><h2>{{ posts[0][5] }}</h2></div>
                <section class="botaoInfo">Mais Informações: <a id="botaoInfo" onClick="Teste()"><i class="fa-solid fa-circle-info"></i></a></section>
            </div>
            {% elif posts[0][5]=="Nao Aprovado" %}
              <div class="col-sm">
                <div class="col" style="color:rgb(211, 7, 7)"><h4>Não Aprovado </h4></div>
                <div class="col">Emitir nota CD - FPQ não concluído</div>
              </div>
            {% elif posts[0][5]=="Não Aprovado" %}
              <div class="col-sm">
                <div class="col" style="color:rgb(211, 7, 7)"><h4>Não Aprovado</h4></div>
                <div class="col">Emitir nota CD - FPQ não concluído</div>
              </div>
            {% else %}
              <div class="col-sm">
                <div class="col" style="color:rgb(211, 7, 7)"><h4>Não Aprovado</h4></div>
                <div class="col">Emitir nota CD - FPQ não concluído</div>
              </div>
            {% endif %}
          </div>
        <hr>
        {% endif %}
      {% endblock %}
    </div> -->


    <!-- Posicionando o logo Tecplas -->
      <div class="logo">
          <img src="../static/img/xxx.png" alt="Tec" id="img_tec">
      </div>

    <!-- Alerta caso o que foi digitado está errado -->
    <div>           
      {% include "sweetalerts.html" %}
    </div>


    <!-- Chamando os Scripts JS e Bootstrap -->
    <script type="text/javascript" src="../static/javascript/popup.js"></script>
    <script type="text/javascript" src="../static/javascript/buttons.js"></script>
    <script type="text/javascript" src="../static/javascript/script.js"></script>
    <script src="https://example.com/fontawesome/v6.3.0/js/all.js" data-auto-replace-svg="nest"></script>
    <script type="text/javascript" src="../static/js_imports/jquery.min.js"> </script>
    <script type="text/javascript" src="../static/js_imports/bootstrap.bundle.min.js" ></script>
    <script type="text/javascript" src="../static/js_imports/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/js_imports/popper.min.js" ></script>
    <script type="text/javascript" src="../static/js_imports/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/js_imports/sweetalert.min.js"></script>
    <script src="https://kit.fontawesome.com/636b4fbf6a.js" crossorigin="anonymous"></script>
  </body>
</html>