<!doctype html>
<html lang="en">
  <head>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    {% include "sweetalerts.html" %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Consulta FPQ</title>
    <link href="../static/css_imports/bootstrap.css" rel="stylesheet">
    <link href="../static/css_imports/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- <script type="text/javascript" src="https://form.jotform.com/jsform/223393896252667"> $(function() { $("#btn-contato").submit(function (event) { $.getJSON('/contato', { }, function(data) { }); return false; }); });</script> -->
  </head>

  <body>
    <!-- Criando o menu NAV -->
    <nav class="navbar navbar-dark nav-pills mb-3 justify-content-center" style="background-color: hsl(180, 2%, 11%)">
      <ul class="nav" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link" id="btn-nav" data-toggle="pill" href="../" role="tab" aria-controls="pills-home" aria-selected="true">Home</a>
          </li>
            <li class="nav-item">
              <a class="nav-link" id="btn-nav" data-toggle="pill" onClick="newPopup()" role="tab" aria-controls="pills-profile" aria-selected="false">Acionar o Processo</a>
            </li>
            
        </ul>
    </nav>

    <!-- Criando o Título da Página -->
    <div class="row"  id="titulo">
      <!-- <div class="row-sm text-sm-center"><h1>Consulta Status FPQ:   </h1></div> -->
      {% if posts is defined and posts|length > 0 %}
        <div class="row-sm text-sm-center"><h1 style="color:red">{{ msg_ }}</h1></div>
      {% endif %}
      </div>
    </div>

    <!-- Criando o campo de input e o botão ao lado -->
    <form class="form-inline justify-content-center" action="resultado" method="POST">
      <div class="row d-flex justify-content-center">
          <div class="input-group mb-2 w-50" id="input_field" name="input_field">
              <input type="text" class="form-control input-sm" id="input_2" name="input_2" placeholder="Insira o radical do PN ou o CEMB" aria-label="Insira o radical do PN ou o CEMB" aria-describedby="button-addon2"/>
              <button class="btn btn-outline-secondary" onClick="resultado(this)" type="submit" id="button-addon2">Procurar</button>
          </div>
      </div>
    </form>

    <!-- Tabela com informações das peças, aparece após procurar um PN ou CEMB -->
    <div class="container text-center" style="color:#000000" id="tabela">
      {% block content %}
      {% if posts is defined and posts|length > 0 %}
      <div class="row ">
        <div class="col-sm"><h2>PN Topo</h2></div>
        <div class="col-sm"><h2>Código Embraer</h2></div>
        <div class="col-sm"><h2>STATUS</h2></div>
      </div>
        <a style="color:rgb(43, 42, 42)">
          <div class="row align-middle">
            <div class="col-sm"><p>{{ posts[0][1] }}</p></div>
            <div class="col-sm"><p>{{ posts[0][2] }}</p></div>
            {% if posts[0][5]=="Aprovado" %}
              <div class="col-sm" style="color:rgb(23, 184, 8)"><h2>{{ posts[0][5] }}</h2></div>
            {% elif posts[0][5]=="Nao Aprovado" %}
              <div class="col-sm" style="color:rgb(211, 7, 7)"><h4>Não Aprovado</h4></div>
            {% elif posts[0][5]=="Não Aprovado" %}
              <div class="col-sm" style="color:rgb(211, 7, 7)"><h4>Não Aprovado</h4></div>
            {% else %}
              <div class="col-sm" style="color:rgb(211, 7, 7)"><h4>N#D</h4></div>
            {% endif %}
          </div>
        </a>
        <hr>
      {% endif %}
      {% endblock %}
    </div>

    <!-- Posicionando o logo Tecplas -->
    <!-- <div class="right">
        <div class="text-center">
            <a><img src="../static/img/xxx.png" alt="Tec" id="img_tec"></a>
        </div>
    </div> -->

    <!-- Alerta caso o que foi digitado está errado -->
    <div>           
      {% include "sweetalerts.html" %}
    </div>

    <!-- Chamando os Scripts JS e Bootstrap -->
    <script language=javascript src="{{ url_for('static', filename='javascript/popup.js') }}" type="text/javascript"></script>
    <script type="text/javascript" src="../static/js_imports/jquery.min.js"> </script>
    <script type=text/javascript> $(function() { $("#button-addon2").submit(function (event) { $.getJSON('/resultado', { }, function(data) { }); return false; }); }); 
    </script> 
    <script type="text/javascript" src="../static/js_imports/bootstrap.bundle.min.js" ></script>
    <script type="text/javascript" src="../static/js_imports/popper.min.js" ></script>
    <script type="text/javascript" src="../static/js_imports/bootstrap.min.js"></script>
  </body>
</html>